

<main>

    <h1>My Portfolio</h1>
    <hr />
    <br>



    <h3>Hello, I'm Meherab Hassan.</h3>
    <br>
    <div class="row">

        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h4 id="gettingStartedTitle">ID.</h4>
            <p>You can search <strong>( @ViewBag.ID )</strong>, my AIUB official ID in MS Teams.</p>

        </section>
        <br>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h4 id="librariesTitle">Gmail.</h4>
            <p>You can easily send mail for any query through out my e-mail address given below.</p>
            <p><a class="btn btn-outline-dark" href="@ViewBag.Gmail" target="_blank">Check Mail &raquo;</a></p>
        </section>
        <br>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h4 id="hostingTitle">Github.</h4>
            <p>You can also find my Github profile to explore more from given link here.</p>
            <p><a class="btn btn-outline-dark" href="@ViewBag.Github" target="_blank">Check Link &raquo;</a></p>
        </section>
    </div>
</main>